:root {
    --purple: #7e78f2;
    --yellow: #FFFF00;
    --body: #000000;
    --background: hsl(345, 61%, 28%);
} /* figuring out colour through this, made it easy for me to change colours */

#quote {
    font-style: italic;
}

/*styles for side menu*/
.menu {
    color: #FFFF00;
    line-height: 1.2em;
    font-family: "futura-pt", sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
    padding-right: 20px;
    float: left;
    width: 20%;
} 
/*styles for side menu for list, anchor tag and hover*/
    .menu ul {
        list-style: none;
    }

    .menu a:visited { 
        color: #FFFF00;
    }

    .menu a {
        color: #FFFF00;
        text-decoration: none;
    }

    .menu a:hover {
        color: var(--purple);
        font-style: italic;
    }

/* left-content and right-content are positoned using float and padding for gutters*/

.left-content {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 15%; 
}

.right-content {
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    width: 40%;
}


/* @media used for responsive layout when resizing screen, creates single column layout by 
disabling float when the screen size is 900px or less*/
@media screen and (max-width: 900px) {
    .menu,
    .left-content,
    .right-content {
        float: none;
        width: 100%;
  }
}

/*styles applied to body text and background for website*/
body {
    color: #FFFF00;
    background-color: var(--background);
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2em;
}

.ingredients h2 {
    font-weight: 400;
    font-size: 40px;
}

.ingredients p {
    font-size: 20px;
    font-weight: 200;
    width: 400px;
}


.ingredients {
    font-size: 2em;
    font-weight: 400;
    width: 600px;
    color:#FFFF00;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
}

.left-content img {
    max-width: 50%;
}

.tennisBall {
 width: 100px;
}



 
.right-content img {
    width: 600px;
}

