:root {
    --pink: #ff48b0;
    --blue: #3255a4;
    --background: #e6e6e6;
} /* figuring out colour through this, made it easy for me to change colours */

#quote {
    font-style: italic;
}

/*styles for side menu*/
.menu {
    color: --blue;
    line-height: 1.2em;
    font-family: "futura-pt", sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-decoration: none;
    padding-right: 20px;
    float: left;
    width: 20%;
} 
/*styles for side menu for list, anchor tag and hover*/
    .menu ul {
        list-style: none;
    }

    .menu a:visited { 
        color: --blue;
    }

    .menu a {
        color: --blue;
        text-decoration: none;
    }

    .menu a:hover {
        color: var(--pink);
        font-style: italic;
    }

    .menu a:visited {
        color: var(--blue);
    }

/* left-content and right-content are positoned using float and padding for gutters*/

.left-content {
    padding-left: 20px;
    padding-right: 20px;
    top: 3em;
    float: left;
    width: 15%; 
}

.right-content {
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    width: 40%;
}


/* @media used for responsive layout when resizing screen, creates single column layout by 
disabling float when the screen size is 900px or less*/
@media screen and (max-width: 900px) {
    .menu,
    .left-content,
    .right-content {
        float: none;
        width: 100%;
  }
}

/*styles applied to body text and background for website*/
body {
    color: var(--blue);
    background-color: var(--background);
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2em;
}

.ingredients h2 {
    font-weight: 500;
    font-size: 40px;
}

.ingredients p {
    font-size: 20px;
    font-weight: 200;
    width: 400px;
}


.ingredients {
    font-size: 2em;
    font-weight: 400;
    width: 600px;
    color:--blue;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
}

.left-content img {
    max-width: 70%;
}

.tennisBall {
 width: 100px;
}



 
.right-content img {
    width: 600px;
}

