:root {
    --pink: #ff48b0;
    --blue: #3255a4;
    --background: #e6e6e6;
} /* figuring out colour through this, made it easy for me to change colours */

#quote {
    font-style: italic;
}

p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5;
}

/*styles for side menu*/
.menu {
    color: var(--blue);
    line-height: 1.5em;
    font-family: "futura-pt", sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-decoration: none;
    padding-right: 20px;
    float: left;
    width: 20%;
} 
/*styles for side menu for list, anchor tag and hover*/
    .menu ul {
        margin-top: 25px;
        list-style: none;
    }

   

    .menu a {
        color: var(--blue);
        text-decoration: none;
        transition: color 0.1s ease;
    }

    .menu a:hover {
        color: var(--pink);
        font-style: italic;
    }


/* left-content and right-content are positoned using float and padding for gutters*/

.left-content {
    padding-left: 5%;
    padding-right: 20px;
    float: left;
    width: 20%; 
}

.right-content {
    padding-left: 20px;
    padding-right: 5%;
    float: right;
    width: 40%;
}


/* @media used for responsive layout when resizing screen, creates single column layout by 
disabling float when the screen size is 900px or less*/
@media screen and (max-width: 900px) {
    .menu,
    .left-content,
    .right-content {
        float: none;
        width: 100%;
  }
}

/*styles applied to body text and background for website*/
body {
    padding-top: 1%;
    color: var(--blue);
    background-color: var(--background);
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2em;
}

.ingredients h2 {
    font-weight: 500;
    font-size: 1.5em;
}




.ingredients {
    font-weight: 400;
    color:--blue;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
}

.iron {
    width: 100%;
}

.pins {
    width: 100%;
}


.darn {
    width: 100%;
}

.hem {
    width: 100%;
}

.difficulty  {
    width: 60%;
}

.chalk {
    width: 70%;
}

.button {
    width: 50%;
}

.sewbutton {
   width: 70%; 
}

.needle {
    width: 70%;
}

.ruler {
    width: 100%;
}
.tennisBall {
 width: 60%;
}
.yarn {
    width: 100%;
}
.thread {
    width: 50%;
}

.scissors {
    width: 110%;
}
 
.zine {
    width: 80%;
}


